### Machine Learning With Python: Linear Regression Multiple Variables

Sample problem of predicting home price in monroe, new jersey (USA)

In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [11]:
df=pd.read_csv('homeprices.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

 Data preprocessing  : fill NA values with median values of columns

In [3]:
df.bedrooms.median()

4.0

In [20]:
df.bedrooms=df.bedrooms.fillna(df.bedrooms.median())

In [21]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [22]:
reg = linear_model.LinearRegression()
reg.fit(df.drop('price',axis='columns'),df.price)

LinearRegression()

In [23]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [24]:
reg.intercept_

221323.00186540408

In [25]:
y=112.06244194*3000 + 3*23388.88007794 + -3231.71790863*40 +221323.00186540408

In [26]:
y

498408.2515740241

Find price of home with 3000 sqr ft area, 3 bedrooms, 40 year old

In [27]:
reg.predict([[3000,3,40]])

/home/menge/anaconda3/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([498408.25158031])